.Buttons {
  padding: 10px 15px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  grid-area: Buttons;
}
.Button {
  border: 0 none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.1em;
  padding: 1em;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.Button:hover {
  transform: scale(1.05);
  color: rgba(0, 0, 0, 1);
}
.Button:disabled {
  color: rgba(0, 0, 0, 0.2) !important;
  transition: none;
  transform: none !important;
  cursor: not-allowed;
}
