.GameEnds {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #bf886c;
  display: grid;
  place-content: center;
  justify-items: center;
}
.GameEnds .secret {
  display: flex;
  gap : 10px
}