@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", cursive;
}

.white {
  background-color: white;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.transparent {
  background-color: rgba(0, 0, 0, 0.15);
}

.board {
  display: grid;
  position: relative;
  width: 600px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  background: #bf886c;
  grid-template-areas:
    "Secret Secret"
    "Rows Colors"
    "Buttons Buttons";
}
